#unused files
.idea
.vagrant
style/.sass-cache/*
vendor/

#files

config/database/archive/*
!config/database/archive/0_default.sql

files/user_image/*
!files/user_image/default.png

files/track_thumbnails/*
files/track_files/*

#ignore config files
config/config.yml
