#unused files
.idea
.vagrant
style/.sass-cache/*
vendor/

#files
config/database/archive/*
!config/database/archive/0_default.sql
files/contact_image/*
!files/contact_image/default.png
files/user_image/*
!files/user_image/default.png
files/music/*
files/zip/*
files/generatedImage/*
files/contact_vcard/*

#ignore config files
config/config.yml
