{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Login{% endblock %}

{% block content %}
    <div class="container container-form">
        <div class="page-header">
            <h1>Login :</h1>
        </div>
        <form id="login_form" action="{{ currentUri }}" method="post">
            <div class="form-group">
                <label for="usrname">Username :</label>
                <input type="text" name="usrname" id="usrname" class="form-control">
            </div>
            <div class="form-group">
                <label for="pswd">Password :</label>
                <input type="password" name="pswd" id="pswd" class="form-control" required>
            </div>
            <div class="form-group text-right submit">
                <input type="submit" value="Login" id="submit" class="btn btn-primary btn-lg" required>
            </div>
        </form>
    </div>
{% endblock %}

