{% extends 'layout/base.html.twig' %}

{% block pageTitle %}API Doc - {{ siteInfo.name }}{% endblock %}

{% block content %}
    <div class="container container-page">
        <div class="page-header">
            <h1>{{ siteInfo.name }}'s API Documentation :</h1>
        </div>
        HANDLE API DOCUMENTATION
    </div>
{% endblock %}

{% block additionnalJs %}
    <script src="/script/pages/dashboard.js"></script>
{% endblock %}