/*                  */
/*  FORM STYLESHEET */
/*                  */

form {
  input[type='text'], input[type="password"], input[type="email"] .select2-selection {
    height: 40px;
    border: 1px solid #aaa;
  }
  .submit {
    margin-top: 20px;
  }
}