/*                   */
/*  ICON STYLESHEET  */
/*                   */

.icon {
  width:30px;
  height:30px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.icon-lg {
  width: 85px;
  height: 85px;
  margin: 0 10px;
}