/*                   */
/*  TABLE STYLESHEET */
/*                   */

.table {
  font-size:18px;
}

.table#setting_table {
  margin-bottom: 0;

  tbody {
    tr:hover {
      td {
        cursor: pointer;
      }
    }
    td.active {
      border:3px solid #B1B1B1;
    }
  }
}

.table#user_table,
.table#track_table {
  tbody {
    tr:hover {
      td.linked {
        cursor: pointer;
      }
    }
    td.actionRow .glyphicon {
      font-size:18px;

      input{
        width:10px;
      }
    }
  }
}