{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Access Denied{% endblock %}

{% block content %}
    <div class="container container-page" id="exception_page">
        <div class="page-header row">
            <div class="col-md-1 text-center">
                <img src="/files/components/error_icon.png" class="error_icon">
            </div>
            <div class="col-md-11 pusher">
                <div class="pusher__body">
                    <h1>Access Denied :</h1>
                </div>
                <div class="pusher__item__header">
                    <a href="javascript:history.back()" class="btn btn-lg btn-primary">Go Back</a>
                </div>
            </div>
        </div>
        <p>
            You are not allowed to see this page. If you really need the acess right, please contact the Webmaster.
        </p>
    </div>
{% endblock %}