{% extends 'layout/base.html.twig' %}

{% block pageTitle %}Dashboard{% endblock %}

{% block content %}
    <div class="container container-page">
        <div class="page-header">
            <h1>Dashboard :</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'dashboard/_userBlock.html.twig' with { 'blockData' : blocks.0.data } only %}
            </div>
            <div class="col-md-6">
                {% for index, block in blocks | slice(1) %}
                    {% if index % 2 == 0 %}
                        {% include 'dashboard/_' ~ block.name ~ '.html.twig' with { 'blockData' : block.data } only %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for index, block in blocks | slice(1) %}
                    {% if index % 2 == 1 %}
                        {% include 'dashboard/_' ~ block.name ~ '.html.twig' with { 'blockData' : block.data } only %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block additionnalJs %}
    <script src="/script/pages/dashboard.js"></script>
{% endblock %}