<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-right">
                {% if isValidUser %}<a href="#" id="logout">Logout</a> | {% endif %} {{ currentDate }}
            </p>
        </div>
    </nav>
</footer>