/*                    */
/*  FOOTER STYLESHEET */
/*                    */
footer {
  .navbar {
    a {
      cursor:pointer;

      &:hover {
        font-weight:bold;
        text-decoration:none;
      }
    }
  }
}